# Interview Query Questions

## Complete Addresses

Youâ€™re given two dataframes. One contains information about addresses and the other contains relationships between various cities and states. Write a function to create a single dataframe with complete addresses in the format of street, city, state, zipcode.

In [3]:
import pandas as pd

addresses = ["4860 Sunset Boulevard, San Francisco, 94105", "3055 Paradise Lane, Salt Lake City, 84103", 
             "682 Main Street, Detroit, 48204", "9001 Cascade Road, Kansas City, 64102", "5853 Leon Street, Tampa, 33605"]

df1 = pd.DataFrame(addresses, columns=["Addresses"])

city = {"Salt Lake City": "Utah", "Kansas City": "Missouri", "Detroit": "Michigan", "Tampa": "Florida", "San Francisco": "California"}

df2 = pd.DataFrame(city.items(), columns=["City", "State"])

In [36]:
def add_postcode(df1, df2):
    df1_split = pd.DataFrame([i.split(", ") for i in df1['Addresses'].values], columns=["Address", "City", "PostCode"])
    df_joint = pd.merge(df1_split, df2, on=["City"])
    res = pd.DataFrame([', '.join(i) for i in df_joint[list(df_joint.columns)[:2] + [list(df_joint.columns)[-1]] + [list(df_joint.columns)[-2]]].values], columns=['Addresses'])
    return res

add_postcode(df1, df2)

                                           Addresses
0  4860 Sunset Boulevard, San Francisco, Californ...
1    3055 Paradise Lane, Salt Lake City, Utah, 84103
2          682 Main Street, Detroit, Michigan, 48204
3    9001 Cascade Road, Kansas City, Missouri, 64102
4            5853 Leon Street, Tampa, Florida, 33605

## Max Width

Given an array of words and a maxWidth parameter, format the text such that each line has exactly maxWidth characters. Pad extra spaces ' ' when necessary so that each line has exactly maxWidth characters.

Extra spaces between words should be distributed as evenly as possible. If the number of spaces on a line do not divide evenly between words, the empty slots on the left will be assigned more spaces than the slots on the right.

In [37]:
words = ["This", "is", "an", "example", "of", "text", "justification."]
maxWidth = 16

In [38]:
def fullJustify(words, maxWidth):
    res, cur = [], []
    num_of_letters = 0

    for w in words:
        # Checking if existing words + new words are greater than max width
        if num_of_letters + len(w) + len(cur) > maxWidth:
            # Implementing round robin logic
            for i in range(maxWidth - num_of_letters):
                cur[i%(len(cur)-1 or 1)] += ' '
            res.append(''.join(cur))
            cur, num_of_letters = [], 0
        cur += [w]
        num_of_letters += len(w)
    return res + [' '.join(cur).ljust(maxWidth)]

fullJustify(words, maxWidth)

['This    is    an', 'example  of text', 'justification.  ']

## Customer Analysis

You're given a dataframe containing sales data from a grocery store chain with columns for customer ID, gender, and date of sale.

Create a new dataset with summary level information on their purchases including the columns:

    customer_id
    gender
    most_recent_sale
    order_count

most_recent_sale should display the date of the customer's most recent purchase. order_count should display the total number of purchases that the customer has made.

In [5]:
customers = {"customer_id" : [5156, 2982, 1011, 3854, 2982], 
             "Gender" : ["m", "f", "m", "f", "f"], "Date of Sale" : ["2021-01-04", "2021-02-15", "2021-03-01", "2021-03-21", "2021-04-12"]}

customer_df = pd.DataFrame(customers)
customer_df

   customer_id Gender Date of Sale
0         5156      m   2021-01-04
1         2982      f   2021-02-15
2         1011      m   2021-03-01
3         3854      f   2021-03-21
4         2982      f   2021-04-12

In [26]:
dfs_by_id = [customer_df[customer_df['customer_id'] == i] for i in list(customer_df['customer_id'].unique())]

df_list = []
for i in dfs_by_id:
    ids, gen, date = list(i.iloc[len(i)-1,:].values)
    count = len(i)
    df_list.append([ids, gen, date, count])
    
most_recent_sale = pd.DataFrame(df_list, columns=['customer_id', 'gender', 'most_recent_sale', 'order_count'])
most_recent_sale.sort_values('customer_id')

   customer_id gender most_recent_sale  order_count
2         1011      m       2021-03-01            1
1         2982      f       2021-04-12            2
3         3854      f       2021-03-21            1
0         5156      m       2021-01-04            1